extends layout

block content
	.intro
		!= page.html

	ul.artifacts
		- var artifactNames = _(contents.artifacts).keys()
		- artifactNames.sort()

		each artifactName in artifactNames
			- var artifact = contents.artifacts[artifactName].metadata

			li
				a.name(href=artifact.url)= artifact.name
				| &#32;
				span.currentVersion= artifact.currentVersion

				ul.locations
					each location, providerId in artifact.locations
						- var locationUrl = location.urlTemplate.replace('#proto#', 'http').replace('#version#', encodeURIComponent(artifact.currentVersion))
						- var providerPage = contents.providers[providerId + '.json']
						- var provider = providerPage ? providerPage.metadata : { name: providerId }

						li(class=providerId)
							a.provider(href=provider.url)= provider.name
							| &#32;
							a(href=locationUrl)= locationUrl

